<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Admin page</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <p class="navbar-brand text-white">
            <b><span class="align-middle" th:text="${user.username}"></span></b>
            <span class="align-middle">with roles:</span>
            <span class="align-middle" th:text="${user.getRolesString()}"></span>
        </p>
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-dark text-secondary">Logout</button>
        </form>
    </div>
</nav>


<div class="row">
    <!--Левая часть-->
    <div class="col-2">
        <div class="nav flex-column nav-pills pt-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
               aria-controls="v-pills-home" aria-selected="true">Admin</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
               aria-controls="v-pills-profile" aria-selected="false">User</a>

        </div>
    </div>
    <!--Правая-->
    <div class="col-9">
        <div class="tab-content" id="v-pills-tabContent">
            <!--Admin Page-->
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">

                <!--Content of LEFT NAV BAR-->
                <h1 class="m-3 font-weight-bold">Admin panel</h1>
                <!-- Admin tabs               -->
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                           role="tab"
                           aria-controls="nav-home" aria-selected="true">Users table</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                           role="tab"
                           aria-controls="nav-profile" aria-selected="false">New User</a>
                    </div>
                </nav>
                <!--Tables cards-->
                <div class="tab-content" id="nav-tabContent">
                    <!--Users-->
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                         aria-labelledby="nav-home-tab">
                        <div class="card">
                            <div class="bg-white p-2 pl-4 font-weight-bold"><h5>All users</h5></div>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="usrs : ${users}">
                                    <td th:text="${usrs.getId()}"></td>
                                    <td th:text="${usrs.username}"></td>
                                    <td th:text="${usrs.lastname}"></td>
                                    <td th:text="${usrs.age}"></td>
                                    <td th:text="${usrs.email}"></td>
                                    <td th:text="${usrs.getRolesString()}"></td>

                                    <td>
                                        <button type="button" class="btn btn-info" style="color: white"
                                                data-toggle="modal" th:data-target="${'#edit' + usrs.id}">
                                            Edit
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger" style="color: white"
                                                data-toggle="modal" th:data-target="${'#delete' + usrs.id}">
                                            Delete
                                        </button>
                                    </td>

                                    <!--        Modal window EDIT-->
                                    <div class="modal fade" th:id="${'edit' + usrs.id}" tabindex="-1"
                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Edit
                                                        user</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body text-center font-weight-bold">
                                                    <form th:action="@{/admin/edit/{id}(id=${usrs.id})}"
                                                          th:object="${usrs}" th:method="POST">
                                                        <div class="form-group container-fluid col-md-8 bg-white text-center">
                                                            <div class="modal-body text-center">
                                                                <div class="form-group">
                                                                    <label for="edId"
                                                                           class="col-form-label">ID</label>
                                                                    <input class="form-control"
                                                                           type="number"
                                                                           th:value="${usrs.id}" readonly
                                                                           id="edId"
                                                                           name="id">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="name"
                                                                           class="col-form-label">First Name</label>
                                                                    <input type="text" class="form-control"
                                                                           id="name"
                                                                           th:value="${usrs.firstname}"
                                                                           name="name">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="surname"
                                                                           class="col-form-label">Last Name</label>
                                                                    <input type="text" class="form-control"
                                                                           id="surname"
                                                                           th:value="${usrs.lastname}"
                                                                           name="surname">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="age"
                                                                           class="col-form-label">Age</label>
                                                                    <input type="number" class="form-control"
                                                                           id="age" name="age"
                                                                           th:value="${usrs.age}">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="email"
                                                                           class="col-form-label">Email</label>
                                                                    <input type="text" class="form-control"
                                                                           id="email" name="email"
                                                                           th:value="${usrs.email}">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="edPassword"
                                                                           class="col-form-label">Password</label>
                                                                    <input type="text" class="form-control"
                                                                           id="edPassword" name="password"
                                                                           th:value="${usrs.password}">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="role">Role</label>
                                                                    <select multiple
                                                                            class="form-control"
                                                                            size="2" id="role"
                                                                            name="role" th:field="${user.roles}">
                                                                        <option th:each="role: ${roles}"
                                                                                th:value="${role.id}"
                                                                                th:selected="${usrs.getRolesString()}">
                                                                            <th:block
                                                                                    th:text="${role.toString()}">
                                                                            </th:block>
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Close
                                                            </button>
                                                            <input type="submit" class="btn btn-primary"
                                                                   value="Edit">
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                <tr/>

                                </tbody>
                            </table>

                        </div>
                    </div>

                    <!--Add New User-->
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

                    </div>
                </div>
            </div>

            <!--User page-->
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                <span class="navbar-brand mb-3 h0"><h2>User information-page</h2></span>
                <div class="card">
                    <div class="bg-white p-2 pl-4 font-weight-bold"><h5>About user</h5></div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Username</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Email</th>
                            <th scope="col">Role</th>
                        </tr>
                        </thead>
                        <!--  -->
                    </table>
                </div>
            </div>
        </div>
    </div>


</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>