<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1 th:text="${user.toString()}">VALUE</h1>

<div th:each="user : ${users}">
    <a th:href="@{/admin/{id}(id=${user.getId()})}" th:text="${user.toString()}">name</a>
</div>

<br/>
<hr/>

<button type="button">
    <a href="/admin/new">Создать пользователя</a>
</button>

<br/>
<hr/>

<button type="button">
    <a href="/admin/update">Изменить пользователя</a>
</button>

<br/>
<hr/>

<button type="button">
    <a href="/logout">Выйти</a>
</button>


</body>
</html>